/*****Reset*****/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');
html,
body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', 'Ariel', sans-serif;
    color: #2c3e50;
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}
p {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
}
.overflow-hidden {
    overflow: auto;
}
.main-header {
    padding: 55px 0;
    background: #3498db;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
}
.wrapper {
    width: 1145px;
    margin: 0 auto;
}
.logo {
    float: left;
    width: 150px;
    height: 35px;
    overflow: hidden;
}
.nav-button {
    float: right;
    width: 38px;
    height: 29px;
    background: url("../img/menu.png");
}
.about-top {
    padding-top: 320px;
    padding-bottom: 380px;
    background: #3498db;
}
/*.width-content {*/
    /*width: 1145px;*/
    /*margin: 0 auto;*/
/*}*/
.top-title {
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #ecf0f1;
}
.top-description {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ecf0f1;
}
.about {
    background: #ecf0f1;
}
.about-us {
    position: relative;
    padding-top: 75px;
    padding-bottom: 80px;
    top: -200px;
    background: #ffffff;
    border-radius: 10px;
    margin-bottom: -110px;
}
.about-us-title {
    margin-bottom: 35px;
}
.about-us-close {
    display: block;
    width: 35px;
    height: 35px;
    background: url("../img/cross.png");
    margin: 0 auto 35px auto;
    outline: none;
 }
.about-us-description {
    margin-bottom: 65px;
    padding: 0 170px;
    font-size: 20px;
    line-height: 35px;
    font-weight: 300;
    text-transform: uppercase;
}
.more-info {
    display: block;
    margin: 0 auto 0 auto;
    padding: 30px 80px;
    background: #3498db;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50px;
}
.upon-us  .upon-item {
    display: inline-block;
    font-size: 0;
    width: 33%;
}
.upon-us  .upon-link {
    display: block;
    width: 225px;
    height: 225px;
    margin: 0 auto 40px auto;
    border-radius: 50%;
    background: #ffffff;
}
.upon-us .upon-description {
    font-weight: 700;
    line-height: 25px;
    color: #2c3e50;
    margin-bottom: 125px;
}
.upon-description span {
    display: block;
    padding-top: 25px;
}
.recent-projects {
    background: #27ae60;
    padding-top: 100px;
    padding-bottom: 120px;
}
.recent-projects .recent-header {
    width: 814px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}
.recent-header .recent-title {
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 40px;
}
.recent-header .recent-description {
    color: #ffffff;
    font-weight: 400;
    line-height: 35px;
}
.slider-wrapper {
    width: 1506px;
    margin-left: auto;
    margin-right: auto;
}
.single-title {
    background: #ecf0f1;
    padding-top: 100px;
    padding-bottom: 310px;
}
.single-title .just-title {
    color: #2c3e50;
    font-weight: 500;
    line-height: 60px;
}
.clients {
    background: #9b59b6;
}
.clients .reviews {
    position: relative;
    top: -200px;
    margin-bottom: -90px;
}
.reviews .review {
    width: 560px;
    background: #ffffff;
    padding: 75px 0;
    border-radius: 10px;
}
.reviews .god-review {
    float: left;
}
.reviews .best-review {
    float: right;
}
.review .review-title {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    color: #2c3e50;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.review .review-description {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
    color: #2c3e50;
    text-transform: uppercase;
}
.clients .wrapper-list {
    padding-bottom: 120px;
    width: 1145px;
    margin: 0 auto;
}
.list-title {
    color: #ffffff;
    margin-bottom: 80px;
}
.list-clients {
    padding: 0 40px;
}
.list-clients .item-client {
    display: inline-block;
    vertical-align: middle;
    margin-right: 120px;
}
.list-clients .item-client:last-child {
    margin-right: 0;
}
.review-close {
    display: block;
    width: 35px;
    height: 35px;
    background: url(../img/cross.png);
    margin: 0 auto 35px auto;
}
.team {
    padding: 100px 0;
    background: #ecf0f1;
}
.team .team-title {
    margin-bottom: 40px;
}

.team-description {
    padding: 0 180px;
    margin-bottom: 70px;
    font-weight: 400;
    line-height: 35px;
}
.list-team li {
    display: inline-block;
    width: 330px;
    margin-right: 70px;
}
.list-team li:last-child {
    margin-right: 0;
}
.face-team .team-link {
    display: block;
    width: 223px;
    height: 223px;
    margin: 0 auto 40px;
    border-radius: 50%;
    background: #ffffff;
}
.face-team .face-description {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #2c3e50;
}
.face-team .item-description {
    margin-bottom: 30px;
    padding: 0 15px;
    font-size: 16px;
    text-transform: none;
    line-height: 30px;
}
.list-team .social {
    width: 145px;
    margin: 0 auto;
}
.social .social-btn {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-right: 15px;
    font-size: 0;
}
.social .social-btn:last-child {
    margin-right: 0;
}
.btn-fb {
    background: url("../img/icon-fb.png");
}
.btn-tw {
    background: url("../img/icon-tw.png");
}
.btn-gl {
    background: url("../img/icon-gl.png");
}
footer {
    padding: 70px 0 50px;
    background: #2c3e50;
}
footer .content-size {
    vertical-align: middle;
}
footer .footer-logo {
    float: left;

}
footer .page-list {
    float: right;
    padding-top: 10px;

}
.page-list .page-item {
    display: inline-block;
    margin-right: 20px;
}
.page-list .page-item:last-child {
    margin-right: 0;
}
.page-item a {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ecf0f1
}



