/*****Reset*****/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');
html,
body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', 'Ariel', sans-serif;
    color: #2c3e50;
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}
p {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
}
.clearfix {
    overflow: auto;
    /*zoom: 1;*/

}
.section-top {
    padding-top: 60px;
    padding-bottom: 380px;
    background: #3498db;
    min-height: 50px;
}
.width-content {
    width: 1145px;
    margin: 0 auto;
}
.main-header {
    margin-bottom: 350px;
}
.logo {
    float: left;
    width: 150px;
    height: 35px;
    overflow: hidden;
}
.main-nav {
    float: right;
}
.h-hello {
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #ecf0f1;
}
.p-hello {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ecf0f1;
}
.section-about {
    background: #ecf0f1;
}
.about-us {
    position: relative;
    padding-top: 75px;
    padding-bottom: 80px;
    top: -200px;
    background: #ffffff;
    border-radius: 10px;
}
.h-aboutus {
    margin-bottom: 35px;
}
.cross {
    display: block;
    margin: 0 auto 35px auto;
 }
.p-aboutus {
    margin-bottom: 65px;
    padding: 0 170px;
    font-size: 20px;
    line-height: 35px;
    font-weight: 300;
    text-transform: uppercase;
}
.more-info {
    display: block;
    margin: 0 auto 0 auto;
    padding: 30px 80px;
    background: #3498db;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50px;
}
.section-about .upon-top {
    margin-top: -110px;
}
.section-about  .li-about {
    display: inline-block;
    font-size: 0;
    width: 33%;
}
.li-about .a-about {
    display: block;
    width: 225px;
    height: 225px;
    margin: 0 auto 40px auto;
    border-radius: 50%;
    background: #ffffff;
}
.upon-top .p-about {
    font-weight: 700;
    line-height: 25px;
    color: #2c3e50;
    margin-bottom: 125px;
}
.p-about span {
    display: block;
    padding-top: 25px;
}
.recent-projects {
    background: #27ae60;
    padding-top: 100px;
    padding-bottom: 120px;
}
.slider-projects {
    width: 1506px;
    margin-left: auto;
    margin-right: auto;
}
.slider-projects .h-recent {
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 40px;
}
.slider-projects .p-recent {
    color: #ffffff;
    font-weight: 400;
    line-height: 35px;
    padding-left: 380px;
    padding-right: 380px;
    margin-bottom: 75px;
}
.just-text {
    background: #ecf0f1;
    padding-top: 100px;
    padding-bottom: 310px;
}
.just-text .h-just {
    color: #2c3e50;
    font-weight: 500;
    line-height: 60px;
}
.clients {
    background: #9b59b6;
}
.clients .reviews {
    position: relative;
    top: -200px;
}
.reviews .review {
    width: 560px;
    background: #ffffff;
    padding: 75px 0;
    border-radius: 10px;
}
.reviews .left-review {
    float: left;
}
.reviews .right-review {
    float: right;
}
.review .h-review {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    color: #2c3e50;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.review .p-review {
    /*text-align: center;*/
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
    color: #2c3e50;
    text-transform: uppercase;
}
.our-clients {
    margin-top: -90px;
    padding-bottom: 120px;
}
.h-list {
    color: #ffffff;
    margin-bottom: 80px;
}
.list-clients {
    padding: 0 40px;
}
.list-clients .itrm-client {
    display: inline-block;
    vertical-align: middle;
    margin-right: 120px;
}
.list-clients .itrm-client:last-child {
    margin-right: 0;
}
.team {
    background: #ecf0f1;
}
.team .our-team {
    padding: 100px 0;

}
.team .h-team {
    margin-bottom: 40px;
}

.p-team {
    padding: 0 180px;
    margin-bottom: 70px;
    font-weight: 400;
    line-height: 35px;
}
.list-team li {
    display: inline-block;
    width: 330px;
    margin-right: 70px;
}
.list-team li:last-child {
    margin-right: 0;
}
.list-team figure a {
    display: block;
    width: 223px;
    height: 223px;
    margin: 0 auto 40px;
    border-radius: 50%;
    background: #ffffff;
}
.list-team figure {
    margin-bottom: 30px;
}
.list-team figcaption {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #2c3e50;
}
.list-team .p-face {
    padding: 0 15px;
    margin-bottom: 30px;
    font-size: 16px;
    text-transform: none;
    line-height: 30px;
}
.list-team .social {
    width: 145px;
    margin: 0 auto;
}
.social .social-btn {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-right: 15px;
    font-size: 0;
}
.social .social-btn:last-child {
    margin-right: 0;
}
.btn-fb {
    background: url("../img/icon-fb.png");
}
.btn-tw {
    background: url("../img/icon-tw.png");
}
.btn-gl {
    background: url("../img/icon-gl.png");
}
footer {
    padding: 70px 0 50px;
    background: #2c3e50;
}
footer .content-size {
    vertical-align: middle;
}
footer .footer-logo {
    float: left;

}
footer .link-list {
    float: right;
    padding-top: 10px;

}
.link-list .item-link {
    display: inline-block;
    margin-right: 20px;
    font-size: 0;
}
.link-list .item-link:last-child {
    margin-right: 0;
}
.item-link a {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ecf0f1
}



